**/App.vue
**/Views/Lista/ListaPage.vue
**/Views/Login/LoginPage.vue
**/main.js
**/router/index.js
**/stores/index.js
**/Views/Descricao/DescricaoPage.vue
**/Views/Menu/Menu.vue
**/Views/Menu/Initial.vue
**/Views/Cadastro/Cadastro.vue
**/Views/Cardapio/CardapioPage.vue
**/Views/Cardapio/Pratos/LanchePage.vue
**/Views/Cardapio/Pratos/RefeicaoPage.vue
**/Views/Cardapio/Pratos/SobremesaPage.vue
**/Views/Cardapio/Pratos/BebidaPage.vue
**/Views/Carrinho/CarrinhoPage.vue